body
{
    padding: 0;
    margin: 0;
    background: #EFEEEF;
    overflow-x: hidden;
}

a, h1, h2, h3, h4, h5, h6, p, strong
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

nav
{
    margin-top: 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

nav .left_nav
{
    width: 20%;
}

nav .left_nav a img
{
    width: 10%;
}

nav .right_nav
{
    width: 35%;
    text-align: center;
    padding-right: 8px;
}

nav .right_nav a
{
    margin-right: 10%;
}

nav a
{
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 21px;
    padding-left: 12px;
    transition: color 0.3s ease;
}

nav .right_nav a:hover
{
    color: #04AB84;
}

.section-01
{
    height: 100%;
}

.section-01 .binded
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 14%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-01 img
{
    width: 75%;
    margin-left: 50px;
}

.section-01 .binded .container h1
{
    margin: 50px 100px 100px 65px;
    font-size: 70px;
    font-weight: 500;
    text-shadow: 0 0 11px #00000038;
    text-align: left;
}

.section-01 .binded .tagline p
{
    font-family: cursive;
    margin: 20px 80px 20px 0px;
    font-size: 30px;
    color: #2b2525;
    text-align: right;
}

.section-01 .binded .container .login button
{
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 30px;
    width: 10%;
    padding: 5px 4px;
    cursor: pointer;
}

.section-01 .binded .container .login button:hover 
{
    color:white;
    background-color: #000000;
}

.section-01 .binded .container .login button a
{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: 600;
}

.section-01 .binded .container .login button a:hover
{
    color: white;
}

.section-01 .binded .container .login .btn-container h3
{
    font-size: 25px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.section-01 .binded .container .login .btn-container
{
    margin: 10px;
    margin-right: 70px;
    padding: 10px;
    display: flex;
    justify-content:flex-end;
}

.section-01 .binded .container .login .hr1
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: #000;
    height: 1px;
}

.section-01 .binded .container .login .hr2
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: #000;
    height: 1px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.section-01 .binded .container .login
{
    margin-top: 50px;
    height: 15%;
}

.section-02
{
    height: 100%;
}

.section-02 .binded
{
    position: relative;
    width: 100%;
    height: 100%;
    top: 14%;
    color: black;
    text-align: center;
    justify-content: space-around;
}

.section-02 .binded .container
{
    display: flex;
    align-items: center;
}

.section-02 .binded .container .title
{
    font-size: 50px;
    padding: 100px;
    text-align: center;
    margin: 150px 0px 150px 0px;
}

.section-02 .binded .container .title .us
{
    -webkit-text-stroke: #000;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.section-02 .binded .container .about p
{
    font-family: cursive;
    font-size: larger;
    padding: 60px 65px 60px 65px;
    text-align: justify;
    margin: 150px 0px 150px 0px;
}

.section-02 .binded .container .about mark
{
    background-color: rgb(219, 243, 172);
}



.section-03
{
    height: 100%;
}

.section-03 .binded
{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 14%;
    color: black;
    text-align: center;
    justify-content: center;
    
    display: flex; /* Add display flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.section-03 .binded .container
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.section-03 .binded .container .title
{
    font-size: 50px;
    padding: 25px;
    text-align: center;
    margin: 25px;
}

.section-03 .binded .container .title .us
{
    -webkit-text-stroke: #000;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.section-03 .binded .container .address, .section-03 .binded .container .support
{
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
    margin: 50px;
    margin-right: 70px;
    height: 150px;
    width: 200px;
    text-align: center;
    align-items: center;
}

.section-03 .binded .container .address:hover, .section-03 .binded .container .support:hover
{
    background-color: rgb(219, 243, 172);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.section-04 {
    height: auto; /* Set the height to fill the viewport height */
    padding: 50px; /* Add padding for spacing */
}

.section-04 img {
    width: 500px; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra spacing */
}


footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(219, 243, 172);
    width: 100%;
}

footer .top_footer .left_footer img
{
    height: 40px;
    margin: 0px;
    padding: 0px;
}

footer .top_footer .left_footer .title
{
    font-family: monospace;
    font-size: 20px;
}

footer .top_footer .left_footer
{
    margin: 0px;
    width: 30%;
}

footer .top_footer .right_footer a
{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

footer .top_footer .right_footer
{
    margin: 0px;
    padding: 0px;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    float: right;
}


footer .top_footer
{
    margin: 20px 60px 180px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer hr
{
    padding: 0px;
    margin: auto;
    width: 90%;
    color: #000;
    height: 1px;
    border-style: solid ;
}

footer .bottom_footer
{
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

.reveal
{
    visibility: hidden;
}

.section-01 .binded .container, .section-02 .binded .container, .section-03 .binded .container{
    height: 100%;
}