{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Dynamic TimeTable Generator</title>
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/registerhome_style.css' %}">
    </head>
    <body>
        <!-- Section-01 begins-->
            <section class="section-01">
                
                <!-- Binded-01 begins -->
                    <div class="binded">

                        <!-- Container-01 begins -->
                            <div class="container">
                                <div class="title">  <!-- Register page title-->
                                    <h1>REGISTER</h1>
                                    <h3>Who are you?</h3>
                                </div>

                                <div class="container-spiral">
                                    <div class="spiral-01"></div> <!-- Background Circle - 01 -->
                                    <div class="spiral-02"></div> <!-- Background Circle - 02 -->
                                    <div class="spiral-03"></div> <!-- Background Circle - 03 -->
                                </div>
                                
                                <div class="glassmorphic"> <!-- Glassmorphic div-->

                                    <div class="insititution"> <!-- Institution login link -->
                                        <img src="{% static 'img\Institution.jpeg' %}">
                                        <a href="{% url 'register_institution' %}">Campus Incharge</a> 
                                    </div>

                                    <div class="teacher"> <!-- Teacher login link -->
                                        <img src="{% static 'img\Teacher.jpeg' %}">
                                        <a href="{% url 'register_teacher' %}">Teacher</a> 
                                    </div>

                                    <div class="student"> <!-- Student login link -->
                                        <img src="{% static 'img\Student.jpeg' %}">
                                        <a href="{% url 'register_student' %}">Student</a> 
                                    </div>
                                    
                                </div>
                                
                            </div>
                        <!-- COntainer-01 ends-->

                    </div>
                <!-- Binded-01 ends -->

            </section>
        <!-- Section-01 ends -->
    </body>
</html>