.section-01 .binded .right-container 
{
    width: 60%;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(10%);
}



.section-01 .binded .right-container .form-container
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}


.section-01 .binded .left-container 
{
    width: 50%;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-01 .binded .left-container .title-greet
{
    position: absolute;
    top: 10px;
    left : 10px;
}

.section-01 .binded .container .right-container .form-container .input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100%;
    margin-top: 50px; /* Add top margin */
}

.section-01 .binded .container .right-container .form-container .input input[type="text"],
.section-01 .binded .container .right-container .form-container .input input[type="password"] {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 90%;
    font-size: inherit;
    padding: 8px 0;
    margin-bottom: 10px;
    transition: border-bottom-color 0.3s ease;
    background-color: transparent;
    text-align: left;
}
