{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Dynamic TimeTable Generator</title>

        <link rel="icon" href="{% static 'img/favicon_io/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    </head>
    <body style="background-image: url('{% static 'img/Log_in.jpg' %}');">

        <!-- Section-01 begins-->
            <section class="section-01">
                
                <!-- Binded-01 begins-->
                    <div class="binded">

                        <!-- Container-01 begins -->

                            <div class="container">
                                <!-- Left-Container begins-->
                                    <div class="left-container">
                                        <div class="title-greet"> <!-- Side greeting -->
                                            <h1>Log In</h1>
                                            <h2>Welcome Back!</h2>
                                        </div>
                                    </div>
                                <!-- Left-Container ends-->

                                <!-- Right-Container begins -->
                                    <div class="right-container">
                                        <!-- Form begins -->
                                            <form class="form-container" action="" target="_blank" method="post" autocomplete="on">
                                                {% csrf_token %}
                                                <div class="input">
                                                    <label for="uname">Username</label>  <!-- Username -->
                                                    <br>
                                                    <input type="text" id="uname" name="username" autofocus required>
                                                    <br>

                                                    <label for="role">Role</label> <!-- Role -->
                                                    <br>
                                                    <select id="role" name="role">
                                                    <option value="Teacher">Teacher</option>
                                                    <option value="Institution_head">Institution Head</option>
                                                    <option value="Student">student</option>
                                                    </select>
                                                    <br>
    
                                                    <label for="password">Password</label>  <!-- Password -->
                                                    <br>
                                                    <input type="password" id="password" name="pwd" min="8" required>
                                                    <br>
                                                </div>

                                                <button type="submit">Log in</button> <!-- Create account button-->
                                            </form>
                                        <!-- Form ends -->
                                    </div>
                                <!-- Right-Container ends-->
                                
                            </div>
                        <!-- Container-01 ends -->

                    </div>
                <!-- Binded-01 ends-->

            </section>
        <!-- Section-01 ends-->

    </body>
</html>